.nav {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 50px 0 0 50px;
}

.nav > a {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
  transition: all 0.125s ease;
}

.nav > a:last-of-type {
  margin-top: 15px;
}

.nav > a:hover {
  color: #f58549;
}

.nav > a.title {
  font-weight: bold;
  line-height: initial;
  margin-bottom: 20px;
}
