html,
body {
  padding: 0;
  margin: 0;
  font-family: "IM Fell Great Primer SC", serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.38px;
  line-height: 30.4px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
